.footer {
    color: #d9d9d9;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    color: black;
}

.footer-content-left, .footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
}

.copyrights-and-socials-container {
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between copyrights and socials */
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Center the container */
}

.copyrights {
    text-align: left; /* Align text to the left */
    color: black;
}

.socials {
    text-align: right; /* Align text to the right */
}

.socials-img {
    padding-left: 10px;
    padding-right: 10px;
}


@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}
